<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Black List Directory</title>
</head>

<body>

<div class="container">

	<h3>Black List Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/blaclListHTML/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Credit Card
	</a>
	
	<!-- Add a button -->
	<a th:href="@{/transactionsHTML/transactions-list}"
		class="btn btn-primary btn-sm mb-3">
		Transactions List
	</a>
	

	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Mask Credit Card</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCreditCard : ${blaclListCards}">
				<td th:text="${tempCreditCard.maskCreditCard}" />	
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



