<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Sava Transaction</title>
</head>

<body>

	<div class="container">
	
		<h3>Sava Transaction</h3>
		<hr>
		
		<p class="h4 mb-4">Sava Transaction</p>
		
		<form action="#" th:action="@{/transactionsHTML/save}"
						 th:object="${newTransactions}" method="POST">
			
			<input type="text" th:field="*{creditCard}"
					class="form-control mb-4 col-4" placeholder="Credit Card Number">
					
			<input type="text" th:field="*{amount}"
					class="form-control mb-4 col-4" placeholder="Amount">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
		

		
		
		<hr>
		<a th:href="@{/transactionsHTML/transactions-list}">Back to Black Cards List List</a>
		
		
		
	</div>




</body>

</html>